@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.main__container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.div__upload {
  width: 150px;
  height: 150px;
  border: 2px dashed black;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}
.upload__details {
  line-height: 1;
  font-weight: bold;
  margin: 0 1rem;
}
.upload__details td {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
select {
  outline: none;
  border: 2px dashed black;
  box-sizing: content-box;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.div__select1 {
  margin: 0 2rem;
}
.div__to {
  margin: 0 2rem;
}
.div__select2 {
  margin: 0 2rem;
}
.div__button {
  margin: 0 2rem;
}
.button {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: #ff3333;
  font-size: 2rem;
  font-weight: bold;
  padding: 16px 32px;
  color: white;
  border: 2px dashed #ff3333;
  border-radius: 8px;
  box-shadow: 1px 2px 30px 5px rgba(0, 0, 0, 0.1);
}
.button__hover:hover {
  color: #ff3333;
  background: white;
}
.button__disabled {
  cursor: default;
  pointer-events: none;
  background: #ff8080;
  border: 2px dashed #ff8080;
}
.button__disabled:hover {
  color: white;
  background: #ff8080;
}

.spin {
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.preview__container {
  display: flex;
}
.div__image-preview {
  width: 600px;
  height: 100px;
  border: 1px solid #e6e6e6;
}
.div__result {
  width: 700px;
  border: 1px solid #e6e6e6 !important;
  margin: 0 2rem;
}
.result__heading {
  background: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.result {
  margin: 0;
  font-family: Nunito Sans, sans-serif;
  font-size: 15px;
}
